.gallery {
    padding: 100px 0;
    background-color: var(--color-primary-light); 
 }


.gallery h2 {
    text-align: center;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
 }

 .gallery img {
    display: block;
    margin : 0 auto;
 }

 .gallery .gallery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    height: 100vh;
    margin: 50px auto;
 }

 .gallery .gallery-wrapper div {
    border: 10px solid var(--color-primary);
    margin: 6px;
    width: 33%;
 }

 .gallery .gallery-wrapper div img {
    width: 100%;
 }