@import "pages-config.css";
@import"home-header.css";
@import "home-banner.css";
@import "about.css";
@import "our-services.css";
@import "appointment.css";
@import "gallery.css";
@import "location.css";
@import "footer.css";
