*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

:root {
    --color-primary: #917758;
    --color-secondary: 
}

body
{
    font-family: 'Poppins', sans-serif;
    
}
/***************
* HOME 
****************/
.home {
    position: relative;
    background-image: url(../images/bg-home.jpg);
    background-size: cover;
    height: 100vh;

}

.home .header .nav ul {
    display: flex;
    list-style: none;

}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;

}

.home .header .nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;

}

.home .header .nav {
    display: flex;
    justify-content: center;

}

.home .header {
    padding: 30px 0;

}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);

}

.home .header .nav ul li .logo {
    margin: 0 30px;

}

/***************
* HOME - BANNER
****************/

.home .banner {
    color:white;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 770px;
    height: 270px;
    margin-left: -425px;
    margin-top: -75px;
}

.home .banner span {
    display:block;
}

.home .banner .slogan1 {
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 5px;
    font-size:14px;
}

.home .banner h1 {
    font-size: 120px;
}

.home .banner .slogan1 {
  margin-bottom: 15px;
}